/* Center content container */
body {
  max-width: 800px; /* change this at will */
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  color: #fffdeb;
  background-color: purple;
  text-align: center;
}

ol,
ul {
  color: orange;
  background-color: black;
}

p{
  color: purple;
  background-color: orange;
}

#footer {
  color: #fffdeb;
}

.main-sections {
  background-color: brown;
}

.header h1{
  color: black;
}