body {
  font-family: "Roboto", sans-serif;
  background-color: gray !important;
  color: white !important;
}

a {
  color: black !important;
}

img {
  width: 500px !important;
}

/* Center content container */
html body {
  max-width: 800px !important; /* change this at will */
  margin: 0 auto !important;
  padding: 20px !important;
}

body h1,
body h2 {
  color: #fffdeb !important;
  background-color: purple !important;
  text-align: center !important;
}

body ol,
body ul {
  color: orange !important;
  background-color: black !important;
}

body p {
  color: purple !important;
  background-color: orange !important;
}

body #footer {
  color: #fffdeb !important;
}

body .main-sections {
  background-color: brown !important;
}

body .header h1 {
  color: black !important;
}

img {
  image-align: center !important;
}